.navbar-expand-lg {
	background-color: rgb(248, 248, 248);
}

.navbar-brand  {
	padding-left: 20px;
	padding-right: 20px;
}

.nav-item {
	color: lightGrey;
}

.form-group {
	min-height: 90px
}

.btn-primary {
	width: 160px;
}

.error-field {
	font-size: 13px;
	color: red;
}

#mainbox {
	max-width: 820px;
}

#formbox {
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;	
}

#server-response {
	font-size: 21px;
	color: rgb(0, 123, 255);
}

#field-required {
	margin-top: 10px;
	font-size: 15px;
	color: red;
}
